body{
    font-family: roboto;
    
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    align-items: center;
    padding-right:20px;
    padding-left: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.right{
    display:flex;
    justify-content: space-between;
    gap:20px;
}
ul{
    list-style: none;
}
img{
    max-width:30em;
    max-height:10em;
}
.under_nav{
    display:flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    padding-right:20px;
    padding-bottom: 10px;
    padding-left:20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.signup_button{
    display:flex;
    background-color: rgb(73, 73, 240);
    color:white;
    border-radius: 8px;
    font-size: 20px;
}
.info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images{
    display:flex;
    justify-content: center;
    gap: 2px;
    text-align: center;
    align-items: center;
}
.imgs{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid 4px black;
    border-radius: 25px;
}
.quote{
    display:flex;
    justify-content: center;
    background-color: #E5E7EB;
}
cite{
    display:flex;
    justify-content: flex-end;
}
.signup{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: #3882F6;
    color:white;
    margin-left: 20%;
    margin-right: 20%;
}
.cta{
    display:flex;
    justify-content: flex-start;
    text-align:center;
}
.footer{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #1F2937;
    color:white;
}
a:hover{
    color: purple;
    text-decoration: underline;
}
a{
    color:white;
    text-decoration: none;
}